h1 {
    font-family: 'Papyrus';
    margin-left: 5px;
}

h2 {
    font-family: "Comic Sans";
    text-align: justify;
}

p {
    font-family: "Comic Parchment, Comic Papyrus";
    font-size: 46pt;
    text-align: center;
    padding: 80;
    margin: auto;
    background-color: #FFFF00;
}

h3 {
    font-family: "Times New Roman";
    margin-right: 23px;
    margin-top: 55px;

}

.bullet {
    text-align: center;

}

table, th, td{
    border-top: solid #cf0b0b;
    border-left: dashed #a4951e;
    border-right: groove #aff9f7;
    border-bottom: double #4d2d40;
}