h1 {
    color: #4F4789;
    margin-left: 3px;
    margin-top: 4px;
    padding-bottom: 5px;
    font-family: 'Josefin Sans';
}

h2 {
    color: #4F4789;
    font-weight: bold;
    margin-left: 3px;
    margin-top: 4px;
    font-family: 'Josefin Sans';
    padding-bottom: 5px;
    
}

body {
    background-color: #B6A6CA;
    color: #461220;
    font-family: 'PT Sans';
    margin-left: 3px;
    margin-top: 4px;
  
}

p {
    padding-bottom: 4px;
    margin-left: 3px;
    margin-top: 4px;
    font-family: 'PT Sans';
}

a:link {
    color:#B23A48;
    background-color: transparent;
}

a:visited {
    color:#4F3824;
    background-color: transparent;
}

a:hover {
    color: #FED0BB;
    background-color: transparent;
    text-decoration: underline;

}

img {
    justify-content: center;

}



.dropdown {
    display: inline-block;
    position: relative;
}


.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #333;
    min-width: 160px;
    text-align: left;
    padding: 10px;
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}


.dropdown-content img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 10px;
}

.dropdown-content a, .dropdown-content img {
    display: block;
    margin: 10px 0;
}


#what {
display: block;
}

scrolled {
    background-color: #222;
}

#quiz-section {
    margin-top: 40px;
}

#quizAnswer {
    padding: 8px;
    width: 300px;
}

#quizResult {
    margin-top: 10px;
    font-weight: strong;
}