h1 {
    color: #4F4789;
    margin-top: 30px;
    padding: 5px;
    font-family: 'Josefin Sans';
    margin: auto;

}

h2 {
    color: #4F4789;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 30px;
    font-family: 'Josefin Sans';
    padding-bottom: 5px;
    margin-left: 12px;
    
}

h3 {
    color: #4F4789;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 30px;
    font-family: 'Josefin Sans';
    padding-bottom: 5px;
}

header {
    margin-left: 10px;
}

footer {
    margin-left: 10px;
}

body {
    background-color: #B6A6CA;
    color: #461220;
    font-family: 'PT Sans';
    margin-left: 20px;
    margin-top: 4px;
  
}

p {
    padding-bottom: 4px;
    margin-left: 20px;
    margin-top: 4px;
    font-family: 'PT Sans';
}

a:link {
    color:#B23A48;
    background-color: transparent;
}

a:visited {
    color:#4F3824;
    background-color: transparent;
}

a:hover {
    color: #FED0BB;
    background-color: transparent;
    text-decoration: underline;

}

img {
    justify-content: center;

}

table {
    margin-left: 25px;
    text-align: left;
} 
table tr:nth-child(1) {
    background-color: #794aae;
    color: #E6E6E9;
}

table tr:nth-child(even) {
    background-color: #846aa2;
    color: #E6E6E9;
}

*{
    box-sizing: border-box;
}

.container {
    position: relative;
}

.mySlides {
    display: none;
}

.prev, .next {
    position: absolute;
    padding: 16px;
    top: 25%;
    width: auto;
    padding: 10px;
    margin-top: -30px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: white;
}

.numbertext {
    color: green;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
}


.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .column {
    float: left;
    width: 16.66%;
  }

  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

img {
    height: 300px;
    width:300px;
}

main {
    max-width: 1200px;
    width: 90%;
    margin: 0 quto;

}

html, body {
    all: initial;
}

@media screen and (min-width: 981px) and (max-width: 1400px) {
    

}

@media screen and (min-width: 601px) and (max-width: 980px) {

}

@media screen and (min-width: 370px) and (max-width: 600px) {

}