h1 {
    color: #8A0000BD;
    margin-left: 3px;
    margin-top: 4px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h2 {
    color: #D33E43;
    font-weight: bold;
    margin-left: 3px;
    margin-top: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

body {
    background-color: #D9CFC1;
    color: #14342B; 
    font-family: Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif';
    margin-left: 3px;
    margin-top: 4px;
    
}

p {
    padding-bottom: 4px;
    margin-left: 20px;
    margin-top: 4px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:link {
    color: #7E1946;
    background-color: transparent;
}

a:visited {
    color:#4B2142;
    background-color: transparent;
}

a:hover {
    color: #59594A;
    background-color: transparent;
    text-decoration: underline;

} 

header {
    background-color: #EAB464;
    margin: 5px;
}

footer {
    background-color: #E2E2E2;
}