<header>
    <h1> Keilee Wright's Killer Wombat || ITIS 3135 </h1>
    <nav>
        <a href="./">Home</a>
    ||
    <a href="introduction.html">Introduction</a>
    ||
    <a href="contract.html">Contract</a>
    ||
    </nav>



    <nav>
    <a href="whimsical_company/">Killer Wombat's Phantasms</a>
    ||
    <a href="wrightsknellenterprises.org/">Wright's Knell Enterprises</a>
    ||
    <a href="website_evaluations.html">Website Evaluations</a>
    ||
    <a href="questionablegirlstuffprobably/✿✿✿ LOOK AT ME ✿✿✿.htm">Crappy Webpage</a>
    ||
    <a href="hobby/index.html"> Hobby</a>
    ||
    <a href="client_project/project_overview.html">Client Project</a>
    </nav>